.card_main_div {
  background: url(/assets/net.jpg) center center fixed;
  width: 100%;
  height: 100%;
  position: relative;
}
.card_header_top {
  height: 100vh;
  width: 100%;
  color: white;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background:black
}
.mask_card_header {
  height: 100px;
}
.main_home_background{
  width:100%;
  height:350px;
  overflow:hidden;
  background: url(/assets/homeBackground3.jpg) center center;
  background-size: 100% 100%;
}
.card_filter_wrapper_header {
  height: 300px;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header_bar_description{
  width:100%;
  background: linear-gradient(to right, black ,dodgerblue);
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_bar_description_inner{
  width: 1280px;
  height: 140px;
  padding: 5px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header_bar_description_inner_div1{
  width: 60%;
  text-align:left;
  display:flex;
  justify-content:center;
  align-items:center;
}
.header_bar_description_inner_div1 img{
  width:150px;
  height:120px;
  margin-right:10px;
}
.social_icons{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}
.social_icon_image{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:20px;
  color:red;
}
.social_icon_image img{
  width:50px;
  height:50px;
  opacity:0.8;
  cursor:pointer;
}
.social_icon_image img:hover{
  opacity:1;
}
.header_bar_description_inner_div2{
  border-left:1px solid dodgerblue;
  padding-left:50px
}
.header_bottom_description{
  background: linear-gradient(to right, dodgerblue , black);
  width:1280px;
  margin:0 auto;
  height:220px;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  color:black;
  justify-content:flex-end;
  align-items:center
}
.header_bottom_description_news{
  width:350px;
  height:80%;
  background:black;
  margin:10px
}
.header_bottom_description_news h3{
  text-align:center;
  color:white;
  height:50px;
  line-height:50px;
  border-bottom:1px solid white;
  background:dodgerblue;
}
.header_bottom_description_news p{
  text-align:center;
  color:white;
  padding-left:20px;
  padding-right:20px;
  text-align:justify
}
.header_bottom_description_recent{
  width:350px;
  height:80%;
  background:black;
  margin:10px
}
.header_bottom_description_recent h3{
  text-align:center;
  color:white;
  height:50px;
  line-height:50px;
  border-bottom:1px solid white;
  background:steelblue;
}
.header_bottom_description_recent p{
  text-align:center;
  color:white;
  padding-left:20px;
  padding-right:20px;
  text-align:justify
}
.header_bottom_description_inner{
  width:400px;
  height:180px;
  background:black;
  position:absolute;
  top:50%;
  left:-50px;
  transform:translate(0, -50%);
  display:flex;
  justify-content:center;
  align-items:center;
  border:5px solid white;
}
.header_bottom_description_inner img{
  width:90%;
  height:90%;
}
.card_promotion_wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card_header {
  width: 100%;
  height: 200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_header_title {
  width: 100%;
  font-size: 50px;
  color: steelblue;
}
.card_wrapper {
  width: 1280px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-color: lightgray;
}
.card .card_Background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_image_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url(/assets/likeARainbow1.gif);
  color: black;
  display: none;
  transition: all 0.5s ease-in-out;
}
.card_image_back_zoom {
  width: 0px;
  height: 60px;
  background: dodgerBlue;
  position: absolute;
  right: 0;
  top: 65px;
  border-radius: 50px 0px 0px 50px;
  transition: 1s;
}
.card_image_back_favorite {
  width: 0px;
  height: 60px;
  background: mediumpurple;
  position: absolute;
  left: 0;
  top: 65px;
  border-radius: 0px 50px 50px 0px;
  transition: 1s;
}
.card_image_back:hover .card_image_back_zoom {
  width: 50px;
}
.card_image_back:hover .card_image_back_favorite {
  width: 50px;
}
.card:hover .card_image_back {
  display: flex;
}
.card:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 7px 7px 7px 0px dodgerblue;
}

.nameAndAtr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background: url(/assets/name.jpg) center center !important;
}
.char_name_wrapper {
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.char_name_span {
  position: absolute;
  bottom: 20px;
  left: 0px;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 85%;
  font-weight: bold;
  border-radius: 0 5px 5px 0px;
  background: rgba(0, 0, 0, 0.55);
}
.table_stats {
  width: 180px;
}
.table_stats tbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.charStats td {
  width: 130px;
  text-align: left;
  background: white;
  border-radius: 3px;
}
.charStats img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.charStats_value td {
  width: 50px;
  border-radius: 3px;
  height: 32px;
  background: white;
  font-weight: bold;
}
.charStats_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: whitesmoke; */
}
.charStats_button {
  width: 70px;
  height: 150px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.card_promotion_image_1{
  width:600px;
  height:200px;
  background: url(/assets/animePromoton.jpg);
  background-size: 100% 100%;
}
.card_promotion_image_2{
  background: url(/assets/mayPromotion.jpg);
  width:600px;
  height:200px;
  background-size: 100% 100%;
}


@media only screen and (max-width: 1280px) {
  
}

@media only screen and (max-width: 1100px){
  .header_bottom_description{
    justify-content:center;
    align-content:center;
    height:220px;
    width:auto;
  }
  .header_bottom_description_inner{
  display:none
  }
  .card_promotion_wrapper{
    display: grid !important;
    grid-template-columns: 1fr ;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
  }
  .konLogo {
    display: none !important;
  }
  .card_header_top{
    height:auto !important;
    padding-bottom: 100px
  }
  .card_wrapper{
    width: 960px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media only screen and (max-width: 900px){
  .main_home_background {
    background: url(/assets/bleachBackground.png) center center no-repeat;
    background-size: 100% 100%;
  }
  .card_wrapper{
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
  }
  .header_bottom_description{
    flex-direction:column;
    justify-content:center;
    align-content:center;
    height:auto;
    width:auto;
  }
  .header_bottom_description_news{
    width:auto;
    height:200px;
    margin-left:50px;
    margin-right:50px;
  }
  .header_bottom_description_recent{
    width:auto;
    height:200px;
    margin-left:50px;
    margin-right:50px;
  }
  .header_bar_description_inner_div1 h3{
    font-size:16px;
  }
  .header_bar_description_inner_div1 p{
    font-size:12px !important;
  }
}
@media only screen and (max-width: 640px){
  .card_promotion_image_2{
    width:500px;
    height:200px;
  }
  .card_promotion_image_1{
    width:500px;
    height:200px;
  }
  .card_wrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 400px; 
  }
  .card{
    margin:20px auto;
    width: 80%;
    justify-self: center;
  }
}
@media only screen and (max-width: 500px){
  .card_promotion_image_2{
    width:400px;
    height:200px;
  }
  .card_promotion_image_1{
    width:400px;
    height:200px;
  }
  .main_home_background {
    height: 300px;
  }
}
@media only screen and (max-width: 400px){
  .card_promotion_image_2{
    width:300px;
    height:150px;
  }
  .card_promotion_image_1{
    width:300px;
    height:150px;
  }
  .card_header_top{
    height: 1250px !important;
  }
  .card_promotion_wrapper{
    margin-top: 50px;
  }
  .main_home_background {
    height: 250px;
  }
}